.filter-constrain {
    width: 400px;
    margin-left: 10px;
}

#jBox-slider-grab {
    margin-top: -45px;
    overflow: hidden;
    height: 100px;
}

.constrain-btn {
    color: #48b8dc;
    cursor: pointer;
    float: right;
}

.constrain-btn:hover {
    text-decoration: underline;
}
