.filter-constrain {
    width: 270px;
    height: 100vh;
    margin-left: 10px;
    position: absolute;
    top: 0;
    font-size: 12px;
    overflow: auto;
}

.filter-box {
    width: 250px;
}

#jBox-slider-grab {
    margin-top: -45px;
    margin-bottom: -45px;
    padding: 0;
    overflow: hidden;
    height: 100px;
}

.constrain-btn {
    color: #48b8dc;
    cursor: pointer;
    float: right;
}

.constrain-btn:hover {
    text-decoration: underline;
}

#sigma-container {
    margin: auto;
    margin-top: 5vh;
    width: 100vw;
    height:90vh;
}

.good-word {
    color: blue;
}

.bad-word {
    color: red;
}

table { border-collapse:collapse; }
table td, table th { border:1px solid black;padding:5px; }
