html{
    min-height:100%;
    position:relative;
}

body {
    margin: 0;
    height: 100%;
}

.visual-container {
    display: inline-block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
    z-index:-1;
}

.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

#viz {
    width: 100%;
    height: 100%;
}


.node text {
    display: none;
    font: 10px sans-serif;
}

.node:hover text {
    display: inline;
}

