html,
body{
    margin: 0;
    padding: 0;
    border: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -100;
}

svg {
    width: 100%;
    height: 100%;
}


#data-container p{
    font-size: 0.8em;
    margin-bottom: 5px !important;
    padding-bottom: 0px !important;
}

#title{
    padding-left: 4%;
}
/* for the side panel */
.side-container {
    height: 70% !important;
    width: 25% !important;
    min-width: 320px;
    margin: 2% 2%;
    border: 1px solid;
    border-radius: 5px;
    background-color: white;
    padding: 2% 2%;
    overflow: auto;
    display: inline-block;
    vertical-align: top;
}

.inside-tab-content {
    min-height: 470px;
}

.inside-tab-content h4,h6 {
    text-align: center;
}

.inside-tab-content ul {
    list-style: none;
}

.active-cyan-4 input[type=text]:focus:not([readonly]) {
    border: 1px solid #4dd0e1;
    box-shadow: 0 0 0 1px #4dd0e1;
}

/* filter tab */
.filter-top {
    padding: 5% 0;
    text-align: center;
}

/* for scatter plot matrix */
#plt {
    width: 900px;
}

.sidebar-pairplot{
    width: 300px !important;
}

.reset{
    background-color:#433089 !important;
    color:#fff !important;
}

.dot {
    stroke: rgba(70, 131, 180, 0.3);
    stroke-width: 1.5px;
    fill: none;
    /*fill: rgba(70, 131, 180, 0.3);*/
    /*fill-opacity: 0.25;*/
}
.selected {
    fill: rgb(255,125,80);
    fill-opacity: .25;
}
.hidden {
    opacity: 0.3;
}
.extent {
    fill: #000;
    fill-opacity: .125;
    stroke: #fff;
}
.label {
    font: 12px sans-serif;
    color: black;
}
.ticklabel {
    font: 10px sans-serif;
    color: black;
}

#signCodes-Container {
    top: 50px;
    margin-left:1000px;
    display: block;
    width:20%;
    position: absolute;
}

#signList {
    height:700px;
    overflow: hidden;
    overflow-y: scroll;
}

#goto {
    width:100px;
    display: none;
    fill-opacity: 0;
    font-size: small;
    font-weight: bold;
}

.signData-header {
    font-weight: bold !important;
    font-size: large !important;
}

label {
    color: black;
}


.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    background: #f55d6c;
}

.ui-widget-header {
    background: #46468c;
}

.ui-widget-content {
    background: #c5c5f1;
}

.d3-tip {
    line-height: 1;
    padding: 6px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 4px;
    font-size: 12px;
    /*max-height: 230px;*/
    overflow-y: auto;
}

.dropdown-toggle {
    background-color: #fafafa;
    color: black;
}

.asl-list{
    background-color: #fafafa;
}

#svgDiv {
    overflow: auto;
    display: inline-block;
    padding: 0% 5% 0% 5%;
}

/*LOADER*/
.loader,
.loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}
.loader {
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(0, 191, 255, 0.2);
    border-right: 1.1em solid rgba(0, 191, 255, 0.2);
    border-bottom: 1.1em solid rgba(0, 191, 255, 0.2);
    border-left: 1.1em solid blue;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
#loadingDiv {
    position:absolute;
    top:25%;
    left:25%;
    width:50%;
    height:50%;
    background-color: rgba(250,250,250,0);
    display: flex;
    justify-content: center;
    align-items: center;
}

#tooltip-closeButton {
    width: 10%;
    height: 60%;
    display: inline-block;
    float: right;
    font-size: medium;
    text-align: center;
    background-color: rgba(0,0,0,0);
    color: white;
    border: none;
}

.fa-info-circle:hover {
    color: cyan !important;
}

.fa-info-circle {
    color: #fff;
    float: left;
    padding-top: 7px;
}

.fa-info-circle-padding-right {
    padding-right: 10px;
}

.fa-info-circle-gray {
    color: gray;
}

.active-filter-label {
    margin-left: 5px;
    background-color: #433089;
}

.standardized-button {
    background-color: #433089;
}

.search-word {
    padding-top: 5px;
}

.tutorial-button {
    margin-left: 20px
}

/*.download-data {*/
/*    margin-top: 40px;*/
/*}*/

.dropdown-menu-wide {
    width: 42%;
}

.small-sidebar-button {
    text-align: center;
    /*font-size: 0.9em !important;*/
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 10px;
    border: none;
    width: 47%;
    height: 50px;
    line-height: 1.7em;
    margin-top: 10px;
}

.large-sidebar-button {
    width: 100%;
}

.btn-left {
    float: left;
}

.btn-right {
    float: right;
}

.filters {
    background-color: #433089 !important;
    margin-top: 50px;
}

.outer-button {
    background-color: #433089;
    border-color: #433089;
}

.outer-button:hover{
    background-color: #433089;
    border-color: #433089;
}

.search-box {
    margin-top: 5px;
}

.large-modal {
    /*width: max-content !important;*/
    max-width: 90%;
    width: fit-content;
    height: 100%;
    margin: 0 auto;
}

.large-modal-text {
    font-size: 20px;
    margin-bottom: 15px !important;
}

.centered-in-model {
    width: fit-content;
    margin: auto;
}

.modal-header-custom {
    border-bottom: none;
}

.modal-body-custom {
    padding: 0 1rem;
}

.modal-footer-custom {
    border-top: none;
}

.centered-text {
    text-align: center;
    margin: 0 !important;
}
